$primary: gray;
$danger: red;


@mixin debug-border($color) {
  border: 1px dashed $color;
  margin: 2px;
}

@mixin full-height-box() {
  display: flex;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

@mixin flex-vbox() {
  display: flex;
  flex-direction: column! important;
  flex-grow: 1;
}

@mixin flex-vbox-grow-0() {
  display: flex;
  flex-direction: column! important;
  flex-grow: 0;
}

@mixin flex-hbox() {
  display: flex;
  flex-direction: row! important;
  flex-grow: 1;
}

@mixin flex-hbox-grow-0() {
  display: flex;
  flex-direction: row! important;
  flex-grow: 0;
}
