@import "../../configuration.scss";

.page-iterator {
  display: flex;
  flex-flow: row-reverse;
  margin: 3px 0px;

  .btn-primary {
    margin: 0px 1px;
    padding: 2px 5px;
    background-color: #6c757d;
  }

  .btn-primary:disabled {
    margin: 0px 1px !important;
    border: none;
  }
}

.vtree {
  @include flex-vbox();
  
  .grid-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    > .grid {
      .cell {
        display: flex;
        align-items: center;
        flex-grow: 1;

        padding: 0.35em;
        text-align: right;
        white-space:   nowrap;
        overflow:      hidden;
        text-overflow: ellipsis;
        border-right: 1px solid whitesmoke;

        .btn-link {
          display: inline-block;
          padding: 0px;
          text-align: left;
        }

        .cell-text { text-align: left; }

        .form-control {
          background-color: #f5f7faf5;
        }
      }

      .cell-even {
        /*background-color: var(--grid-cell-even-even, white);*/
        border-bottom: 1px solid white;
      }

      .cell-odd {
        /*background-color: var(--grid-cell-odd-even, lightgray);*/
        border-bottom: 1px solid white;
      }
    }
  }
}
