//$btn-primary-bg-color: #f9b100;
$btn-primary-bg-color: #54546b;

@mixin debug-border($color) {
  border: 1px dashed $color;
  margin: 2px;
}

@mixin full-height-box() {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
